*

!.gitignore
!.bashrc
!.config/
!.config/alacritty/
!.config/alacritty/alacritty.yml
!.config/dunst/
!.config/dunst/dunstrc
!.config/neofetch/
!.config/neofetch/config.conf
!.config/nvim/
!.config/nvim/init.vim
!.config/picom/
!.config/picom/picom.conf
!.config/qtile/
!.config/qtile/autostart.sh
!.config/qtile/config.py
!.config/starship.toml
!.config/vim/
!.config/vim/vimrc
!.config/X11/
!.config/X11/xinitrc
!.config/xmobar/
!.config/xmobar/xmobarrc
!.config/xmonad/
!.config/xmonad/xmonad.hs
