.cache
.cfg
.config/BraveSoftware
.config/coc
.config/dconf
.config/git
.config/systemd
.config/vim/plugged
.config/xmonad/xmonad
.config/xmonad/xmonad-*
.config/xmobar/
.local
.pki
.ssh
Documents
Downloads
